section {
	width: 100%;
	min-height: 300px;
}

a {
	text-decoration: none;
    color: black;
    opacity: 0.5;
}

a:hover {
	opacity: 1;
}

.header {
	min-height: 50px;
}

.gallery {
	background: blue;
}

.services {
	background: yellow;
}

.team {
	background: pink;
}

.footer {
	background: black;
}